.container {
    margin-top: 50px;
}

.order {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a.menuBtm {
    margin-bottom: 1em;
}

p.showLabel {
    text-align: right;
}

.showLabel::after {
    content: ":"
}
